body, .App {
  font-family: 'Press Start 2P', cursive; /* Pixelated font */
  background-color: #ffe6f0; /* Soft pink background */
  color: #330033; /* Deep purple for contrast */
  margin: 0; /* Ensure there are no default margins */
  padding: 0; /* Ensure there are no default paddings */
  overflow-x: hidden; /* Prevent horizontal scrolling */
  min-height: 100vh; /* Ensure the body takes at least 100% of the viewport height */
}

.App-header {
  background-color: #ff99cc; /* Soft romantic pink */
  position: fixed; /* Fixed position */
  top: 0; /* Align to the top of the viewport */
  left: 0; /* Align to the left of the viewport */
  width: 100%; /* Full width of the container */
  height: 100vh; /* Full height of the viewport */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #330033; /* Deep purple for text */
  z-index: 1; /* Lower z-index than main container */
}

.top-header {
  position: fixed;
  top: 0;
  padding: 1em 0;
  font-size: 1.5rem;
  width: 100%; /* Full width of the container */
  background-color: #ff99cc;
  color: #330033;
  border-bottom: 4px solid #ff66a3; /* Pixel-like border */
  z-index: 2; /* Higher than .App-header but lower than .main-container */
}

.main-container {
  position: absolute; /* Changed to absolute positioning */
  top: 50%; /* Position the top edge of the element at the center of the container */
  left: 50%; /* Position the left edge of the element at the center of the container */
  transform: translate(-50%, -50%); /* Offset the element to the actual center */
  box-sizing: border-box; /* Include padding in the width and height calculation */
  z-index: 3; /* Highest z-index to be on top */
  /*background-color: rgba(255, 255, 255, 0.9); !* Semi-transparent white *!*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Define a max-width and max-height if necessary, or use width and height */
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 768px) {
  .App-header, .top-header {
    text-align: center;
    font-size: 1rem; /* Smaller font size for headers */
  }

  .main-container {
    width: calc(100% ); /* Subtract desired space from the total width */
    height: auto; /* Height can be auto to contain the content */
    margin: 0px; /* This will add space around the container */
    max-width: 768px; /* You can set a max-width if required */
    padding: 1em; /* Add padding inside the container if needed */
    box-sizing: border-box; /* Ensure padding is included in the width calculation */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Keep centered after adjusting width */
  }

  body, .App {
    font-size: 1rem; /* Smaller base font size for better readability */
  }
}

/* Import the 'Press Start 2P' font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
